
.gitbook-link {
  display: none !important;
}

.monkey-link {
  text-transform: capitalize !important;
}

.page-title {
  font-weight: 600;
  font-size: 2em;
}

/*.book.with-summary .book-summary{
  left: 85% !important;
}*/
